.navbar {
  background-color: #140707;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  .titre {
      font-size: 36px;
      padding-left: 20px;
      font-weight: 600;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    height: 60px;
    margin: 0 0px 0 200px;
  }
  .item {
    height: 32px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #FFCECE;
      cursor: pointer;
    }
  }

  .auth {
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      width: 100px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      border-radius: 5px;
      color: white;
    }

    .btnRegister {
      background-color: rgba(255, 206, 206, 0.5);

      &:hover {
        background-color: rgba(140, 46, 46, 0.8);
      }
    }

    .btnLogin {
      &:hover {
        background-color: rgba(255, 206, 206, 0.2);
      }
    }

  }

}