.dropDown {
  display: flex;
  flex-direction: column;
  z-index:999999;
  position: relative;

  .visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
    width: 110px;
    max-width: 150px;
    justify-content: flex-end;
    background-color: #291A1A;
    border-radius: 5px;


    &:hover {
      background-color: #473232;
    }

    .img {
      border-radius: 20px;
      margin: 5px 10px 5px 15px;
      border: 1px solid grey;
    }
  }

  .dropDownContent {
    position: absolute;
    width: 200px;
    right: 0;
    top: calc(100% + 5px);
    border-radius: 15px;
    background-color: grey;
    z-index: -999999;
    display: flex;
    flex-direction: column;

    .item {
      min-height: 45px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15px;
      color: white;
      background-color: #291A1A;
      border-bottom: 1px solid #140707;

      &:hover {
        background-color: #473232;
      }


      &:nth-child(1){
        border-radius: 15px 15px 0 0;
        display: flex;
      }

      &:last-child{
        border-radius: 0 0 15px 15px;
        border-bottom: none;
      }
    }

    .userProfile {
      height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 0 7.5px 20px;
      align-items: flex-start;

      .userName {
        font-size: 18px;
        padding-bottom: 5px;
        font-weight: 400;
      }
    }

    .iconLogout {
      background: no-repeat url("../public/assets/icons/arrowLogout.png") center;
      width: 50px;
      height: 50px;
      background-size: 80%;
    }

  }

}

